<footer>
    <div class="container">
      <div class="footer-links">
        <ul>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
          <li><a routerLink="/terms">Terms of Service</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
      </div>
      <div class="copyright">
        &copy; 2024 Service Provider. All rights reserved.
      </div>
    </div>
  </footer>
  